# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/java/basico/EjemplosDesiciones/nbproject/private/
/java/basico/EjemplosDesiciones/build/
/java/basico/Ciclos/nbproject/private/
/java/basico/Ciclos/build/
/java/basico/Arreglos/nbproject/private/
/java/basico/Arreglos/build/
/java/basico/Arreglos/dist/
/java/basico/Ejemplo/nbproject/private/
/java/basico/Ejemplo/build/
/java/basico/JavaApplication6/nbproject/private/
/java/basico/JavaApplication7/nbproject/private/
/java/basico/JavaApplication7/build/
/java/POO/Ejemplo1/nbproject/private/
/java/POO/Ejemplo1POO/nbproject/private/
/java/POO/Ejemplo1POO/build/
/java/POO/Ejemplo1POO/dist/
/java/POO/Ejemplo2/nbproject/private/
/java/POO/Ejemplo2/build/
/java/POO/Ejemplo2/dist/
/java/POO/Ejemplo3/nbproject/private/
/java/POO/Ejemplo3/build/
/java/POO/Ejemplo3/dist/
/java/POO/Ejemplo5Maven/target/
/java/POO/EjemploConstructores/target/
/java/POO/EjemploGeneralizacion/nbproject/private/
/java/POO/EjemploGeneralizacion/build/
/java/POO/Realizacion/nbproject/private/
/java/POO/EjemploRealizacion/nbproject/private/
/java/POO/EjemploConstructor/nbproject/private/
/java/POO/EjemploConstructor/build/
/java/POO/EjemploFigurasGeometicas/nbproject/private/
/java/POO/EjemploFigurasGeometicas/build/
/java/POO/EjemploContenida/nbproject/private/
/java/POO/EjemploContenida/build/
/java/POO/EjemploColecciones/nbproject/private/
/java/POO/EjemploColecciones/build/
/java/POO/EjemploWeb/nbproject/private/
/java/POO/EjemploAsociacion/nbproject/private/
/java/POO/EjemploAsociacion/build/
/java/POO/EjemploToString/nbproject/private/
/java/POO/EjemploToString/build/
/java/POO/Prueba/nbproject/private/
/java/POO/Prueba/build/
/java/POO/EjemploAgregacionComposicion/nbproject/private/
/java/POO/EjemploAgregacionComposicion/build/